body{
	font-size: 14px;
	color: #333;
	background-color: #fff;
	letter-spacing: 1px;
}

.overlay{
   height: 1000%;
   width: 100%;
   position: absolute;
   z-index: 2;
   background-color: rgba(0,0,0,0.4);
}

.slides-navigation .prev,
.slides-navigation .next{
	width: 50px;
	height: 50px;
	background-size: cover;
	background-repeat: no-repeat;

}
.slides-navigation{
	z-index: 6;
}

.slides-navigation a.prev {
  left: 20px;
  background-image: url(../img/icons/icons8-back-30.png);
}

.slides-navigation a.next {
	right: 20px;
  background-image: url(../img/icons/icons8-forward-30.png);
}

.titleMessage {
	position: absolute;
	width: 100%;
	text-align: center;
	height: 250px;
	top: 50%;
	margin-top: -125px;
	z-index: 6;

}

.titleMessage .heading p {
	color: #fff;
	font-weight: 100px;
	text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
	letter-spacing: 7px;
}

.titleMessage .heading .main {
	font-size: 50px;
}
.titleMessage .heading .sub {
	font-size: 23px;
}

.section {
	padding: 100px 0px;
}

.aboutImage{
	max-width: 100%;
}

.skillsSection,
.contactSection{
	background-color: #e74c3c;
	color: #fff;
}
.skill {
	text-align: center;
	margin-left: 10px;
}
.chart {
	position: relative;
	height: 152px;
	width: 152px;
	text-align: center;
	display: inline-block;
	margin-left: 25px;
}
.chart canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.chart .percent {
	color: #000;
    line-height:152px;
	display: inline-block;
	font-size: 35px;
}
.chart .percent:after {
	content: '%';
}
.squareItem {
	margin-top: 30px;
	position: relative;
}
.squareInnerContainer {
	position: relative;
	padding: 50px 15px 35px;
	text-align: center;
	border: 2px solid #444;
	border-top: none;
}

.squareInnerContainer:before,
.squareInnerContainer:after {
	content: '';
	position: absolute;
	top: 0px;
	width: 30%;
	border-bottom: 2px solid #444;
}


.squareInnerContainer:before {
	right: 0px;
}

.squareInnerContainer:after {
	left: 0px
}


.squareContent h2 {
	font-size: 56px;
	margin-bottom: 10px;
	font-weight: 400;
	color: #e74c3c;
}

.squareContent h3 {
	font-size: 13px;
	font-weight: 600;
	margin: 0;
}

.squareIcon {
	position: absolute;
    left: 50%;
    top: -30px;
    width: 40%;
    height: 60px;
    font-size: 45px;
    margin-left: -20%;
    color: #444;
}
.contactButton {
	color: #fff;
	padding: 15px 20px;
	display: inline-block;
	margin-top: 20px;
	border: 1px solid #fff;
	border-radius: 2px;
}
.contactButton:hover {
	text-decoration: none;
	color: #e74c3c;
	background-color: #fff;  
}
.copyrightSection {
	color: #fff;
	background-color: #000;
	padding: 30px 5px;
}
.copyrightSection p {
	margin: 0;
}
#navigation {
	background-color: #e74c3c;
	padding: 20px 10px;
	z-index: 100;
	width: 100%;
}
#navigation li {
	padding: 0 10px;
}
#navigation li a {
	color: #fff;
}
.navbar-brand,
.navbar-brand:hover {
	color: #fff;
}
.navbar-toggler-icon {
	background-image: url(../img/icons/menu.png);
}
.fixedNav #navigation {
	position: fixed;
	top:0;
}

